.header
{
	background: #B43131;
}

body
{
  background:   #383B3D;
  color:        white;
  padding:      0;
  margin:       0;
  font-family:  "Poppins", sans-serif;
  font-size:    14pt;
  line-height:  150%;
  height:       100%;
  max-width:    90%;
  margin:       0 auto;
}

h1, h2
{
  font-style:      normal;
  padding-top:     20px;
}

h1
{
  font-style:      bold;
}

h2
{
  #border-bottom:   1px solid #ccc;
}

hr 
{
  border-style: solid;
  border-color: #ccc;
  border-bottom: 1px;
}

ul
{
  list-style: square;
}

#logo
{
	padding: 40px
}

#toplist li
{
  list-style: none;
  margin-bottom: 25px;
}

#spacelist li
{
  margin-bottom: 25px;
}

a:link, a:visited
{
  color: white;
  transition: all 0.1s ease-out;
}

a:link:hover
{
  color: skyblue;
}

div
{
	background: #2B2E2F;
  padding: 20px;
}

table, tr, td 
{
	border: none;
}

.game
{
	flex: 50%;
}
